.disblock { display: block; }
input[type="password"].som-password-input { max-width: 400px; }
.som-password-sent-message {
	margin-bottom: 50px;
	padding: 15px;
	border: 2px solid #2679ce;
	border-radius: 4px;
	background-color: #2679ce;
	color: #fff;
	position: relative;
	display: table;
	width: 100%;
}
.lostpassword-submit {
	margin-bottom: 2rem;
}
.som-password-error-message {
	background-color: #2679ce;
	border-color: #2679ce;
	padding-left: 10px;
}
.som-password-sent-message i {
	line-height: 1.5;
	display: table-cell;
	vertical-align: middle;
	width: 25px;
}
.som-password-sent-message span {
	display: table-cell;
	vertical-align: middle;
}
.sompass-submit-loading {
	display: inline-block;
	display: none;
}
.sompass-submit-loading.submitted {
	display: inline-block;
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
}
.sompass-submit-loading img { display: inline; }
#lostpasswordform #somfrp_user_info { display: block; }
/*
     FILE ARCHIVED ON 08:52:34 Feb 19, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:45:13 Apr 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.545
  exclusion.robots: 0.118
  exclusion.robots.policy: 0.109
  cdx.remote: 0.054
  esindex: 0.009
  LoadShardBlock: 249.214 (3)
  PetaboxLoader3.datanode: 335.648 (5)
  load_resource: 538.993 (2)
  PetaboxLoader3.resolve: 241.995 (2)
*/